<HTML ng-app="myApp" class="ng-scope">
	<head>
		<!-- JS -->
		<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="js/underscore.js"></script>
		<!--script type="text/javascript" src="js/jquery-ui.min.js"></script-->
		<!--script src='https://cdn.firebase.com/js/client/1.0.15/firebase.js'></script-->
		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/angular.rangeSlider.js"></script>
		


		<!-- CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
		<!--link href="css/jquery-ui.min.css" rel="stylesheet" type="text/css" />
		<link href="css/jquery-ui.structure.min.css" rel="stylesheet" type="text/css" />
		<link href="css/jquery-ui.theme.min.css" rel="stylesheet" type="text/css" /-->
		<link href="css/angular.rangeSlider.css" rel="stylesheet" type="text/css" />
	</head>

	<body ng-controller="dataController" class="ng-scope">
		<script type="text/javascript" src="js/app.js"></script>

		<!-- RANGE FILTERS -->
		<ul>
		    <li ng-repeat="rangeFilter in rangeFilters" style="list-style-type: none;">
		    	<h3>{{checkBoxFilter.name}}</h3> 
		        <p>{{rangeFilter.lowValue}} {{rangeFilter.unit}} - {{rangeFilter.upValue}} {{rangeFilter.unit}}</p> 
		    	
		    	<div range-slider min="rangeFilter.lowBound" max="rangeFilter.upBound" model-min="rangeFilter.lowValue" model-max="rangeFilter.upValue" decimal-places="rangeFilter.decimalPlaces"></div>
		    </li>
		</ul>


		<!-- CHECKBOX FILTERS -->
		<ul>
		    <li ng-repeat="checkBoxFilter in checkBoxFilters" style="list-style-type: none;">
		    	<h3>{{checkBoxFilter.name}}</h3> 

		        <!-- CHECKBOXES -->
		        <ul>
				    <li ng-repeat="checkBox in checkBoxFilter.data" style="list-style-type: none;">
				    	<input type="checkbox" ng-model="checkBox.active"> {{checkBox.option}}<br>
				    </li>
				</ul>

		    </li>
		</ul>


		<div>total properties overall: {{totalPropertiesOverall}}</div>
		<div>total properties considered: {{totalPropertiesConsidered()}}</div>

		<ul>
			<li ng-repeat="property in getConsideredProperties()">
				=> {{property.property_type}}: bairro:{{property.neighborhood}}, &aacute;rea:{{property.area_total}} m&sup2; pre&ccedil;o: {{property.price}}
			</li>
		</ul>

	</body>


</HTML>